extends layout

block content
  div(class="grid grid-cols-4 text-white")
    div(class="col-span-3 m-4")
      h1.font-bold.text-xl Post Product
      br
      div
        form(action=`/shop/${userId}/myStores/${storeId}/products/create`, method='POST', enctype='multipart/form-data')
          div
            div
              label(for='title') Name
              span(class=" text-red-700 font-bold") *
            div
              input(type='text', name='title', id='title', maxlength="30",required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
            div
              label(for='category') Category
              span(class=" text-red-700 font-bold") *
            div
              select(name='category', id='category', onchange="getSelectedCategory()", required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
                option(value='Art and Crafts') Art and Crafts
                option(value='Automotive') Automotive
                option(value='Beauty and Personal Care') Beauty and Personal Care
                option(value='Books and Stationery') Books and Stationery
                option(value='Electronics and Gadgets') Electronics and Gadgets
                option(value='Fashion and Apparel') Fashion and Apparel
                option(value='Food and Beverages') Food and Beverages
                option(value='Gifts and Specialty Items') Gifts and Specialty Items
                option(value='Health and Wellness') Health and Wellness
                option(value='Home and Furniture') Home and Furniture
                option(value='Jewelry and Accessories') Jewelry and Accessories
                option(value='Pet Supplies') Pet Supplies
                option(value='Sports and Outdoors') Sports and Outdoors
                option(value='Tech and Gadgets') Tech and Gadgets
                option(value='Toys and Games') Toys and Games

            div
              label(for='subcategory') Sub-category
              span(class=" text-red-700 font-bold") *
            div
              select(name='subcategory', id='subcategory', onchange="getSelectedSubCategory()", required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
                option(value='Art Prints') Art Prints
                option(value='DIY Supplies') DIY Supplies
                option(value='Handmade Crafts') Handmade Crafts
            div
              label(for='condition') Condition
              span(class=" text-red-700 font-bold") *
            div
              select(name='condition', id='condition', required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
                option(value='brand new') Brand New
                option(value='refurbished') Refurbished
                option(value='used') Used

            div(id="additionalFields")
              div
                label(for='artist') Artist
              div 
                input(type='text', name='artist', id='artist', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
              div
                label(for='type') Type
              div 
                input(type='text', name='type', id='type', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
              div
                label(for='material') Material
              div 
                input(type='text', name='material', id='material', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
              div
                label(for='size') Size
              div 
                input(type='text', name='size', id='size', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
              div
                label(for='features') Features
              div 
                input(type='text', name='features', id='features', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
            //- div
            //-   label(for='brand') Brand
            //- div
            //-   input(type='text', name='brand', id='brand', maxlength="30", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
            //- br
            //- div
            //-   label(for='size') Size
            //- div
            //-   input(type='text', name='size', id='size', maxlength="15", class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
            //- br
            div               
              p Image maximum size is 5MB.
              br
              p You can upload atmost 4 images.
              br

            div
              div
                label(for='image1') Image 1
                span(class=" text-red-700 font-bold") *
                br  
                input(type='file' name='images' id="image1" accept="image/*" required)
              div
                label(for="image2") Image 2
                br 
                input(type="file" name="images" id="image2" accept="image/*" )
              div
                label(for="image3") Image 3
                br 
                input(type="file" name="images" id="image3" accept="image/*" )
              div
                label(for="image3") Image 4
                br
                input(type="file" name="images" id="image4" accept="image/*" )
              br
            div
              label(for='description') Product Description
              span(class=" text-red-700 font-bold") *
            div
              textarea(cols='50' rows='5' type='text', name='description', id='description', required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
            div
              label(for='price') Price
              span(class=" text-red-700 font-bold") *
            div  
              select(name='currency', id='currency', value= `UGX`, required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
                option(value='UGX') UGX
                //- option(value='USD') USD
              input(type='number', name='price', id='price', required, class="ml-2 mb-3 p-2 rounded-xl bg-gray-700 text-white")
            div
              button(type='submit' class="bg-green-600 hover:bg-green-900 text-white p-1.5 rounded-lg ") 
                  <svg class='w-4 md:w-5 inline-block' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                  </svg> Post Product

    div(class="col-span-1 bg-white text-black" style="width:auto;height:auto;")
                  div(class="m-3")
                      h(class=" text-lg font-bold") Information 
                      ul(class="list-disc p-2")
                          li(class="mb-2") Create products for your store.

  script(src="/javascripts/create-product.js")

