extends layout

block content
  h1.font-bold.text-xl Create Product
  div
    form(action=`/shop/${userId}/products/create`, method='POST', enctype='multipart/form-data')
      div
        div
          label(for='image') Image:
          p Image maximum size is 5MB
        div  
          input(type='file', name='image', required)
        br
        div
          label(for='title') New Product:
        div
          input(type='text', name='title', id='title', maxlength="69",required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white w-96")
      div
        div
          label(for='description') Product Description:
        div
          textarea(cols='50' rows='5' type='text', name='description', id='description', maxlength="55", required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
      div
        div
          label(for='price') Price:
        div  
          select(name='currency', id='currency', value= `UGX`, required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")
            option(value='UGX') UGX
            option(value='USD') USD
          input(type='number', name='price', id='price', required, class="mb-3 p-2 rounded-xl bg-gray-700 text-white")

      div
        button(type='submit' class="bg-green-600 text-white px-4 py-2 rounded-3xl border border-blue-900 hover:bg-green-800") Create Product