extends layout

block content
    div(class="hidden")#chatId #{chatId}
    div(class="hidden")#senderId #{userId}
    div(class=" grid grid-cols-4")
        div(class=" col-span-3")
            //Display chat messages
            div(class="h-screen bg-[#383c77]")
                div
                    //img(src=`${chat.storeImagePath}`, alt=" " class="w-5")
                    p(class='text-white font-bold text-xl p-2')#sender

                div(class='text-white text-lg pl-2') #{chat.productName}
                div(class="")#typing

                div(class=" overflow-y-auto scroll bg-[#565cb6]" style="width:auto;height:450px;")#chat-messages

                
                //Input field to send messages
                div(class=" p-4 flex items-center" style="width:auto;")
                    input#message-input(name='message' type="text" placeholder='Type your message...' minlength='1' maxlength='300' required class='w-full p-2 rounded-l-full focus:outline-none focus:border-blue-500')
                    button#send(type='button' onclick='sendMessage()')
                        div(class="rounded-r-full bg-white p-1.5")
                            <svg class='w-5 md:w-6 inline-block' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>

        div(class="col-span-1 bg-white" style="width:auto;height:595px;")
            div(class="m-3")
                        h(class=" text-lg font-bold") Information 
                        ul(class="list-disc p-2")
                            li(class="mb-2") Chat with the store and discuss how you can get the products to you.

    script(src="https://cdn.socket.io/4.0.1/socket.io.min.js").
    script(src="/javascripts/io.js").
        