@tailwind base;
@tailwind components;
@tailwind utilities;


button.addToCart {
    color: rgb(255 255 255);
    background-color: rgb(234 88 12);;
    padding: 0.375rem;
    border-radius: 0.5rem;
}

button.addToCart:hover {
    background-color: rgb(168, 55, 17);
}
  
  /* Dark mode styles */
button.startChat {
    color: rgb(48 51 95); /*text color*/
    border-width: 1px;
    border-color: rgb(48 51 95);
    padding: 0.375rem;
    border-radius: 0.5rem; /*rounded*/
}

button.startChat:hover{
    /*transition-duration: 700ms;*/
    background-color: rgb(48 51 95);
    color: rgb(255 255 255);
}

div.selected{
    border-right-width: 2px;
    border-right-color: red;
    background-color: rgb(165, 165, 165);
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.5rem;
    overflow-wrap: break-word;
}

.left{
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    margin: 0.5rem;
}

.text-wrap{
    text-wrap: wrap;
}

.chatTime{
    display: flex;
    justify-content: flex-end;
}